@import url('https://fonts.googleapis.com/css2?family=Changa&family=Josefin+Sans&family=Rubik+Moonrocks&family=Schoolbell&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #ffffff;
    font-family: 'Changa', sans-serif;
    background-color: #9c27b0;
}
header{
    display: flex;
    background-color: #dcedc8;
    justify-content: space-between;
    padding: 0 20px;
}
h1 {
    color:midnightblue;  
}
.botoes {
    display: flex;
    flex-direction: column;
}
#btn-iniciar,
#adicionar-palavra,
#palavra-nova,
#btn-reiniciar,
#btn-desistir {
    background-color: #00bcd4;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Changa', sans-serif;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
#canvas {
    display: none;
}
#forca {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#palavra-secreta {
    display: flex;
    border: 1px solid #ffffff;
    align-content: flex-start;
    flex-flow: column wrap;
    height: 80px;
    letter-spacing: 2rem;
}
#palavra-nova {
    border: 1px solid #ffffff;
    height: 80px;
    color:black;
    text-transform: uppercase;
    background-color: #fdfdfdfd;
}
#btn-reiniciar {
    margin-right: 10px;
}
.escondido{
    display: none;
} 
footer>p {
    text-align: center;
    color: #00bcd4;
    background-color: #dcedc8;
}

.simple-keyboard{
    color: black;
    width: 100%;
    display: none;
}
.uil-volume,
.uil-volume-mute{
    font-size: 2rem;
    color: midnightblue;
}
